*{
    box-sizing: border-box;
}

body{
    padding-left: 5%;
    padding-right: 5%;
}

.images{
    float: left;
    width: 33.33%;
    padding: 5px;
}

img {
    width: 100%;
}

#image2{
    border: 5px solid black;
    padding: 4%;
}

.menu{
    background-color: black;

}

.column{

}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content{
    display:none;

}

.dropdown-content a{
    display: block;
    background-color: #00cc00;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

button{
    background-color: black;
    color: white;
    border: none;

}

a {
    text-decoration: none;
    color:white;
}

.vestiging{
    display: block;
    text-decoration: none;
    blackground-color: black;
}

table, th, td {
    border: 1px solid black;
}
