.menu{
    background-color: black;
}

*{
    box-sizing: border-box;
}

.images{
    float: left;
    width: 33.33%;
    padding: 5px;
}

img {
    width: 100%;
}

.dropdown{
    display:none;
}

.dropdown:hover{
    color:red;
    display:block;
}
a {
    text-decoration: none;
    color:white;
}

.vestiging{
    display: block;
}
